
* {
    font-family: 'Poppins' !important;
}

a.logo {
    text-decoration: none !important;
}

ul.nav-menu li > a {
    text-transform: uppercase !important;
}

h3.post-title > a {
    text-decoration: none !important;
}

.cat-1, .cat-2, .cat-3, .cat-4 {
    background-color: #000 !important;
    border-bottom: 0px solid transparent !important;
}

.post.post-widget .post-title,
.post.post-thumb .post-title {
    font-size: 18px !important;
    line-height: 24px !important;
    font-weight: 400 !important;
}

.author-pic {
    border: 1px solid #000 !important;
}

h3.footer-title {
    text-transform: uppercase !important;
}