{% extends "base.html" %}

{% load static %}

{% block content %}
	<div class="section">

		<div class="container">

			<div class="row">
				<div class="col-md-8">
					<div class="row">

						<div class="col-md-12">
							<div class="post post-thumb">
								<a class="post-img" href="blog-post.html"><img
										src="{% static 'img/xpost-1.jpg.pagespeed.ic.A4Rpahx6U5.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-2" href="#">JavaScript</a>
										<span class="post-date">March 27, 2018</span>
									</div>
									<h3 class="post-title"><a href="blog-post.html">Javascript : Prototype vs Class</a>
									</h3>
								</div>
							</div>
						</div>


						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="blog-post.html"><img
										src="{% static 'img/xpost-4.jpg.pagespeed.ic.acII8ZYTz8.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-2" href="#">JavaScript</a>
										<span class="post-date">March 27, 2018</span>
									</div>
									<h3 class="post-title"><a href="blog-post.html">Chrome Extension Protects Against
											JavaScript-Based CPU Side-Channel Attacks</a></h3>
								</div>
							</div>
						</div>


						<div class="col-md-6">
							<div class="post">
								<a class="post-img" href="blog-post.html"><img
										src="{% static 'img/xpost-6.jpg.pagespeed.ic.JtVoUYkYr5.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-2" href="#">JavaScript</a>
										<span class="post-date">March 27, 2018</span>
									</div>
									<h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
											The Backend Development Block!</a></h3>
								</div>
							</div>
						</div>

						<div class="clearfix visible-md visible-lg"></div>

						<div class="col-md-12">
							<div class="post post-row">
								<a class="post-img" href="blog-post.html"><img
										src="{% static 'img/xpost-2.jpg.pagespeed.ic.TYs1GPrTN5.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-2" href="#">JavaScript</a>
										<span class="post-date">March 27, 2018</span>
									</div>
									<h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use
											JQuery?</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
								</div>
							</div>
						</div>


						<div class="col-md-12">
							<div class="post post-row">
								<a class="post-img" href="blog-post.html"><img
										src="{% static 'img/xpost-5.jpg.pagespeed.ic.tcaqbxStTb.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-2" href="#">JavaScript</a>
										<span class="post-date">March 27, 2018</span>
									</div>
									<h3 class="post-title"><a href="blog-post.html">Microsoft’s TypeScript Fills A
											Long-standing Void In JavaScript</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
								</div>
							</div>
						</div>


						<div class="col-md-12">
							<div class="post post-row">
								<a class="post-img" href="blog-post.html"><img
										src="{% static 'img/xpost-3.jpg.pagespeed.ic.uIu7s9VpdP.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-2" href="#">JavaScript</a>
										<span class="post-date">March 27, 2018</span>
									</div>
									<h3 class="post-title"><a href="blog-post.html">Javascript : Prototype vs Class</a>
									</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
								</div>
							</div>
						</div>


						<div class="col-md-12">
							<div class="post post-row">
								<a class="post-img" href="blog-post.html"><img
										src="{% static 'img/xpost-1.jpg.pagespeed.ic.A4Rpahx6U5.jpg' %}" alt=""></a>
								<div class="post-body">
									<div class="post-meta">
										<a class="post-category cat-2" href="#">JavaScript</a>
										<span class="post-date">March 27, 2018</span>
									</div>
									<h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On
											The Backend Development Block!</a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
										incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="section-row">
								<button class="primary-button center-block">Load More</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">

					<div class="aside-widget">
						<div class="section-title">
							<h2>Most Read</h2>
						</div>
						<div class="post post-widget">
							<a class="post-img" href="blog-post.html"><img
									src="{% static 'img/xwidget-1.jpg.pagespeed.ic.nqEkEDP2_z.jpg' %}" alt=""></a>
							<div class="post-body">
								<h3 class="post-title"><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And
										Development Tools</a></h3>
							</div>
						</div>
						<div class="post post-widget">
							<a class="post-img" href="blog-post.html"><img
									src="{% static 'img/xwidget-2.jpg.pagespeed.ic.183VIkUWUH.jpg' %}" alt=""></a>
							<div class="post-body">
								<h3 class="post-title"><a href="blog-post.html">Pagedraw UI Builder Turns Your Website
										Design Mockup Into Code Automatically</a></h3>
							</div>
						</div>
						<div class="post post-widget">
							<a class="post-img" href="blog-post.html"><img
									src="{% static 'img/xwidget-3.jpg.pagespeed.ic.NkT9v3Xk_w.jpg' %}" alt=""></a>
							<div class="post-body">
								<h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On The
										Backend Development Block!</a></h3>
							</div>
						</div>
						<div class="post post-widget">
							<a class="post-img" href="blog-post.html"><img
									src="{% static 'img/xwidget-4.jpg.pagespeed.ic.KoyoxijWdu.jpg' %}" alt=""></a>
							<div class="post-body">
								<h3 class="post-title"><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And
										Development Tools</a></h3>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
{% endblock %}